bin/
obj/
.vs/
*.user
*.suo
*.rsuser

TikTokGenerator/Output/*
!TikTokGenerator/Output/.gitkeep

TikTokGenerator/Tools/*
!TikTokGenerator/Tools/.gitkeep
!TikTokGenerator/Tools/Piper/
TikTokGenerator/Tools/Piper/*
!TikTokGenerator/Tools/Piper/.gitkeep
